<div class="container alert alert-warning" style="margin-top: 15px;
margin-left: 15px">
  <div class="row">
    <div class="col-sm-12 card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="NameOnCard">Name On Card</label>
                <input type="text" class="form-control" id="NameOnCard" [(ngModel)]="paymentModel.nameOnCard"
                  name="NameOnCard">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" [(ngModel)]="paymentModel.cardNumber"
                  name="cardNumber">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="ccv">CVC</label>
                <input type="text" class="form-control" id="ccv" [(ngModel)]="paymentModel.ccv" name="ccv">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="expMonth">Exp. Month</label>
                    <input type="text" class="form-control" id="expMonth" [(ngModel)]="paymentModel.expMonth"
                      name="expMonth">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="expYear">Exp. Year</label>
                    <input type="text" class="form-control" id="expYear" [(ngModel)]="paymentModel.expYear"
                      name="expYear">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address1">Address 1</label>
                <input type="text" class="form-control" id="address1" [(ngModel)]="paymentModel.address1"
                  name="address1">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" [(ngModel)]="paymentModel.address2"
                  name="address2">

              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="paymentModel.city" name="city">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" [(ngModel)]="paymentModel.state" name="state">

              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="zipCode">Zip Code</label>
                  <input type="text" class="form-control" id="zipCode" [(ngModel)]="paymentModel.zipCode"
                    name="zipCode">
                </div>
              </div>
              <div class="col-sm-6">
              </div>
            </div>
            <button class="btn btn-primary" (click)="makePayment()" style="margin-right: 10px">Submit</button>
            <button class="btn btn-warning" style="margin-right: 10px">Reset</button>
            <button class="btn btn-danger">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>